<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Error.aspx"/> <!--用html发现请求code 302，加上redirectMode=ResponseRewrite变成200. 不要用html. 用ashx也不行，出现500-->
    </customErrors>
  </system.web>
  <system.webServer>
    <!--默认false，在项目上，生产模式必须false。只有自己机器测试或者开发环境改成true-->
    <directoryBrowse enabled="true"/>
    <!--HTTP Error 403.14 - Forbidden Web 服务器被配置为不列出此目录的内容。-->
    <defaultDocument>
      <files>
        <clear/>
        <add value="Portal.ashx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>